# Xcode
build/*
!default.xcworkspace
!project.xcworkspace
womm.xcodeproj/project.xcworkspace/xcuserdata
womm.xcodeproj/xcuserdata
womm.xcworkspace/xcuserdata
# Artifacts
*.ipa
*.tar.gz
*.dSYM.zip
# Pods
Pods
.idea

# tests and coverage
tests
coverage.zip
compile_commands.json
coverage.info
output
integration/tmp
